@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    @apply text-slate-50;
    font-family: "Montserrat", sans-serif;
}

.font-secondary {
    font-family: "JetBrains Mono";
}

a {
    @apply text-sky-400;
}

a:hover {
    text-decoration: underline;
}

.input {
    @apply bg-slate-200;
    @apply text-slate-950;
    @apply px-4;
    @apply py-2;
    @apply rounded-xl;
    outline: none;
    width: 100%;
}

.input::placeholder {
    @apply text-slate-600;
}

.input:not(:placeholder-shown):not(:focus) {
    @apply bg-slate-400;
}

.lds-circle,
.lds-circle div {
    box-sizing: border-box;
}
.lds-circle {
    display: inline-block;
    transform: translateZ(1px);
}
.lds-circle > div {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 8px;
    background: currentColor;
    border-radius: 50%;
    animation: lds-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    @apply bg-emerald-400;
}
@keyframes lds-circle {
    0%,
    100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
        transform: rotateY(3600deg);
    }
}
